=javascript_include_tag "https://www.gstatic.com/charts/loader.js"
:javascript
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);
    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ["#{escape_javascript @activities[1]}", "#{escape_javascript @activities[2]}", "#{escape_javascript @activities[0]}", "#{escape_javascript @activities[1]}"],
          [10,  10,  10, 10],
          [6,  8,  1, 10],

        ]);
        var options = {
            title : 'Ride Stats Based on Temperature',
            vAxis: {title: 'Number of Rides'},
            hAxis: {title: 'Temperature'},
            seriesType: 'bars',
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

%div#chart_div{ :style => "width: 900px; height: 250px;"}
