%div.container
  %div.row
    %div.form-group.col-md-4.col-md-offset-1
      %h2=@workout.name
      %h4=@workout.category.capitalize
      %div.list-group
        -@workout.cardio_exercises.each do |exercise|
          %h3.list-group-item-heading=exercise.cardio_activity.name
          .list-group-item-text
            =exercise.duration
            =exercise.distance
      -if @workout.cardio?
        %p=link_to "Add Exercise", new_user_workout_cardio_exercise_path(current_user, @workout)
      -else
        %p=link_to "Add Exercise", new_user_workout_strength_exercise_path(current_user, @workout)