=@workout.name
=@workout.category.capitalize
-@workout.cardio_exercises.each do |exercise|
  =exercise.cardio_activity.name
  =exercise.duration
  =exercise.distance
=link_to "Add Exercise", new_user_workout_cardio_exercise_path(current_user, @workout)