%div.container
  %div.row
    %div.col-md-6.text-center#login
      %h2 Login
      .form-horizontal
        =form_for(:session, url: "/login" ) do |f|
          %div.form-group
            %p=f.label :email
            %p=f.text_field :email
            %p=f.label :password
            %p=f.password_field :password
            %p=f.submit "Login"
        %h4 -- OR --   
        %h3=link_to "Create New User", new_user_path