%div.page-header.text-center#center-header
  %h1 Exercises
%div.container
  %div.row.text-center
    %div.col-md-6.col-md-offset-3
      %div.list-group
        - @categories.each do |category|
          %a{:href => muscle_group_path(category)}
            %div.list-group-item#workouts
              %h3.list-group-item-heading
                =category.name.capitalize
  %p.path=link_to "Add New Workout", new_user_workout_path(current_user)



