%div.page-header.text-center#center-header
  %h1 Fitness Centers Nearby
%div#map-canvas
  %iframe{src: "https://www.google.com/maps/embed/v1/search?key=#{@api_key}&q=fitness+centers+near+#{@location[:zip_code]}&center=#{@location[:latitude]},#{@location[:longitude]}&zoom=10"}
