%div.page-header.text-center#center-header
  %h2 Create New User
%div.container
  %div.row.text-center
    %div.col-md-6.col-md-offset-3r#login
      
      .form-
        =form_for @user do |f|
          %div.form-group
            %p=f.label :email
            %p=f.text_field :email
          %div.form-group  
            %p=f.label :first_name
            %p=f.text_field :first_name
          %div.form-group  
            %p=f.label :last_name
            %p=f.text_field :last_name
          %div.form-group  
            %p=f.label :password
            %p=f.text_field :password
          %div.form-group  
            %p=f.submit "Create User"