%div.page-header.text-center#center-header
  %h2=@strength_exercise.strength_activity.name
%div.container
  %div.row.text-center
    %div.col-md-6.col-md-offset-3
      -# %h4=@workout.category.capitalize
      %div.list-group#workouts
        -@strength_exercise.lift_sets.each_with_index do |set, i|
          %h3.list-group-item-heading
            Set
            =(i+1)
          .list-group-item-text
            %p  
              %strong Reps
              =set.reps
            %p  
              %strong Weight
              =set.weight
              lbs
            %div.inner-path  
              = link_to "Edit",  edit_user_workout_strength_exercise_lift_set_path(current_user, @workout, @strength_exercise, set)
              =link_to "Delete", user_workout_strength_exercise_lift_set_path(current_user, @workout, @strength_exercise, set), method: "delete"
        .path= link_to "Add Set", new_user_workout_strength_exercise_lift_set_path(@workout.user, @workout, @strength_exercise, @strength_exercise.strength_activity)
        .path= link_to "Back to Workout", user_workout_path(@workout.user, @workout)
  