/*
 #########
 Login
 #########
 */

#login {
    float: none;
    margin: 10% auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}


/*
 #########
 Flash
 #########
 */

#flash {
    float: none;
    margin: 5px, auto;
    display: inline-block;
    border-bottom: .5px solid white;
    border-left: .5px solid white;
    border-right: .5px solid whitesmoke;
    border-radius: 5px;
    background: rgba(255, 255, 255, .7);
}

#flash-error {
    margin: 50px, auto;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(255, 150, 150, .7);
    color: white;
}

.category-display {
    text-align: center;
    border: .15px solid grey;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 5px 0px;
    max-width: 200px;
    background: whitesmoke
}

.strength-display {
    text-align: center;
    border: .5px solid grey;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px 0px;
    max-width: 150px;
    height: 100px;
    vertical-align: middle;
    line-height: 200px;
    background: whitesmoke
}

.path {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.inner-path a {
    margin-right: 10px
}

div a {
    text-decoration: none;
    color: black;
}

div a:hover {
    text-decoration: none;
    color: inherit;
}

#body {
    padding-top: 70px;
    background-image: url('/assets/jan-laugesen-186574.jpg');
    /*color: whitesmoke;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#center-header {
    color: whitesmoke;
    margin: auto;
    max-width: 30%;
    margin-bottom: 10px;
    /*background: rgba(0, 0, 0, .1)*/
}

.dashboard {
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
    max-width: 50%;
}

#workouts {
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
    margin-bottom: 5px
}

#map-canvas {
    margin: 0 auto;
    height: 650px;
    width: 650px;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0, auto;
}

table th,
td {
    background-color: whitesmoke;
}


/*
@import "bootstrap-sprockets";
@import "bootstrap";*/