%div.container
  %div.row
    %div.col-md-4.col-md-offset-1
      %h3 All Users:
      %table.table.table-bordered
        %thead
          %tr
          %th First Name
          %th Last Name
          %th Email
          %th Status
        %tbody   
          -@users.each do |user|
            %tr
            %td=user.first_name
            %td=user.last_name
            %td=user.email
            %td
              =user.role
              #edit=link_to "Edit", edit_admin_user_path(user)
              #delete=link_to "Delete", admin_user_path(user), method: "delete"
        
